.therapy {
  background-color: #0d5d56;
  width: 1000px;
  height: 600px;
  margin: auto;
  padding: auto;
  border-radius: 16px;
}

.therapy h1 {
  padding: 10px 0 10px 0;
  text-align: left;
  margin-top: 30px;
  margin-left: 25px;
  margin-bottom: 10px;
  color: #fffcfc;
  font-family: "Inria Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.image {
  width: 40%;
  height: auto;
  margin-left: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form {
  background-color: #fff;
  margin-right: 2%;
  padding: 10px 10px; /* added padding */
  width: 500px;
  height: auto;
  border-radius: 14px;
  border:2px solid purple;
}



.form-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.form label {
  display: block;
  margin: 1px 0;
  font-weight: 600;
}
.form input,
textarea {
  width: 100%;
  margin: 8px 0 0 0;
  min-height: 1.5em;
  border-radius: 4px;
  border-top: none;
  border-left:none;
  border-right:none;
}

nav {
  padding: 2% 2%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  
}
.nav-links {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  text-align: center;
  position: relative;
  border: none;
  margin:0 16px;
}
.nav-links ul li:hover {
  border-bottom: 1px solid green;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 4px;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.form button{
    background-color: #0d5d56;
    color: #fff;
    padding: 6px 10px;
    width:30%;
    margin: 10px 0 10px 40px;
    border-radius: 4px;
    font-size: 16px;

}
.therapist-id{
    color:#fff;
    font-size: 28px;
    margin: 10px 0 8px 40px;
}
.therapist-stats{
    color:#fff;
    font-size:22px;
    margin:6px 0 8px 40px;
}


@media only screen and (max-width: 760px){
  .therapy {
    background-color: #0d5d56;
    width: 100%;
    height: 80%;
    margin: auto;
    padding: auto;
    border-radius: 16px;
    overflow-x: hidden;
    
  }
  
  .therapy h1 {
    padding: 10px 0 10px 0;
    text-align: left;
    margin-top: 30px;
    margin-left: 25px;
    margin-bottom: 10px;
    color: #fffcfc;
    font-family: "Inria Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .image {
    width: 100%;
    padding:10px 10px;
    margin:auto;
    border-radius: 14px;
  }
  
  .form-container {
    display:block;
    width:400px;
    margin:auto;
    
  }
  
   .form {
    background-color: #fff;
    display:block;
    padding: 10px 10px; 
    width: 100%;
    height: auto;
    border-radius: 14px;
    
  }
  
  
  
 
  .form label {
    display: block;
    margin: 1px 0;
    font-weight: 600;
  }
  .form input,
  textarea {
    width: 100%;
    margin: 8px 0 0 0;
    min-height: 1.5em;
    border-radius: 4px;
  }
  
  nav {
    padding: 2% 2%;
    display: flex;
    justify-content: space-evenly;
    
    
  }
  .nav-links {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    
    position: relative;
    border: none;
    margin:0 16px;
  }
  .nav-links ul li:hover {
    border-bottom: 1px solid green;
  }
  .nav-links ul li::after {
    content: "";
    width: 0%;
    height: 4px;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  .nav-links ul li:hover::after {
    width: 100%;
  }
  .form button{
      background-color: #0d5d56;
      color: #fff;
      padding: 6px 10px;
      width:30%;
      margin: 10px 0 10px 40px;
      border-radius: 4px;
      font-size: 16px;
  
  }
  .therapist-id{
      color:#fff;
      font-size: 28px;
      margin: 10px 0 8px 40px;
  }
  .therapist-stats{
      color:#fff;
      font-size:22px;
      
  }  
  

    .form-row{
       display: block;
    }
}